.text-default {
  color: black
}

.global-box {
  border-radius: 14px;
  width: 80vw;
  height: 100%;
  background-color: white;  
  color: black;
  padding-top: 10px;
}

.titulo-box {
  margin: 10px;
}

.router-link {
  text-decoration: none !important;
  color: inherit !important;
}


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(163, 178, 189);
  height: 100vh;
}



#app {
  font-weight: normal;
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  margin: 0; 
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}


.body {
  background-color: green;
}

.texto-titulo {
  font-size: calc(0.375rem + 1.5vw);
}

.dashboard-titulo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  padding: 10px;
  justify-content: space-between;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}

.dynamic-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dynamic-element {
  background-color: #d18d2b;
  padding: 13px;
  border-radius: 14px;
  border: unset;
  margin: 3px;
}